html {
  background-color: #E090BE;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
  font-family: 'Merriweather', serif;
  color: #8F0453;
  -webkit-text-stroke: 0.75px #000;
}

li {
  text-align: center;
  list-style: none;
  margin: 30px auto;
  font-size: 2rem;
  text-decoration: overline underline;
  text-decoration-style: solid;
}

a {
  color: #722101;
  text-decoration-color: black; 
}

a:hover {
  color: rebeccapurple;
  text-decoration-color: #3685D9;
}