html {
  background-color: #E090BE;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
  font-family: 'Merriweather', serif;
  color: #8F0453;
  -webkit-text-stroke: 0.75px #000;
}

img {
  margin: auto;
  display: block;
}
